# Python Programming FIP
## Introduction
### Markdown
#### Learning Basics

*shift+enter*----> will run the cell and cursur will be in next cell <br>
*ctrl+enter*
*alt+enter*

new markdown cell
> new paragraph

cell type conversionb
- from markdown to code 'Esc y'
- from code to markdown 'Esc m'

**other topics**
1. Order list
2. insert an image
3. insert hyperlink

![image](pythonlogo.jpg)

[markdown cheat sheet] (https://www.markdownguide.org/cheat-sheet/)

[Aditya College of Engineering & Technology] (http://www.acet.ac.in)

## Basic Mathematical Operations

In [ ]:
27+3

In [ ]:
30-3

In [ ]:
30/3

In [ ]:
30*3

In [ ]:
print(27+3)

#### check print function

In [ ]:
27+3
30+3

In [ ]:
print(27+3)
print(30+3)

#### check division

In [ ]:
print(27/2)  ## decimal
print(27//2) ### truncate

In [ ]:
print(27%2) ## reminder

In [ ]:
a = 10
b = 2
print(a,b) ## prints a and b

In [ ]:
s = "hello"
s*b ## repeats 'hello' b times

In [ ]:
s1 = "world"
print(s + s1)
print(s +" "+s1) # for space between words

In [ ]:
print(s,s1)

In [ ]:
print(type(a),type(b),type(s))

In [ ]:
a = "India"

In [ ]:
print(type(a))

In [ ]:
## boolean type
print(b, type(b))
b = True
print(b,type(b))

In [ ]:
## boolean functions
b1 = True
b2 = False
print(b1+b2)
print(b1-b2)
print(b1*b2)
print(b1%b2)

In [ ]:
## boolean functions
b1 = True
b2 = True
print(b1+b2)
print(b1-b2)
print(b1*b2)
print(b1%b2)

In [ ]:
## boolean functions
b1 = False
b2 = False
print(b1+b2)
print(b1-b2)
print(b1*b2)
print(b1%b2)

In [ ]:
## power in python
print(5 ** 2)
print(5 ** 5)
print(5 ^ 3) # ^ is for bitwise xor operation 101^011 = 110

In [ ]:
s3 = 'single'
s4 = "double"
s5 = '''triple single quote'''
s6 = """triple double quote"""
print(s3,s4,s5,s6)
print(type(s3),type(s4),type(s5),type(s6))

In [ ]:
print(s3,s4,s5,s6,sep=',')
print(type(s3),type(s4),type(s5),type(s6))

In [ ]:
#s7 = 'I don't want to learn'
s8 = 'I don\'t want to learn'
print(s8)
s9 = "I don't want to learn"
print(s9)

In [ ]:
#s10 = "\"python\" is a popular language"
s10 = 'python" is a popular language'
print(s10)

In [ ]:
s11 = '''python is popular
so we are learning'''
print(s11)
s11

In [ ]:
# input from keyboard
value = input()

In [ ]:
value = input("Enter Input ")

In [ ]:
s12 = input("Enter First Name: ")
s13 = input("Enter Last Name: ")
print(s13,s12)

In [ ]:
str1 = str(input("Enter Name: "))
num1 = int(input("Enter Number: "))
print(str1*num1)
print((str1+' ')*num1)

###

In [ ]:
## Operators
p = 10
q = 20
print(p==q)
print(p>q)
print(p<q)
print(p>=q)
print(p<=q)
print(p!=q)

### Logical operators
* or <br>
* and <br>
* not <br>

In [ ]:
x = True
y = False
print(x or y)
print(x and y)
print(not y)

#### Special Operators
* Identity <br>
* Membership

#### Identity 
* is <br> # will work based on memory id; if id are same gives True
* is not

In [ ]:
a = "AdityaCollege" 
b = "AdityaCollege"
c = "Aditya College" 
d = "Aditya College"
print(a is b)
print(a is not b)
print(id(a),id(b)) # memory id
print(c is d)
print(c is not d)
print(id(c),id(d)) # memory id

In [ ]:
a = [1,2,3]
b = [1,2,3]
print(a is b)
print(a is not b)
print(id(a),id(b)) # memory id

In [ ]:
a = 1
b = 1
print(a is b)
print(a is not b)
print(id(a),id(b)) # memory id

In [ ]:
### Membership
### in
### not in
a = "Aditya#College" 
b = "Aditya#College"
print("Aditya" in a)
print("A" not in b)

## Bitwise operators
* and (&)
* or (|)
* not (~)
* nor (^)
* shift left <<
* shift right >>

In [ ]:
a = 2 # Binary 0 0 0 1 0
b = 3 # Binary 0 0 0 1 1
print(a & b)
print(a | b)
print(a<<b) # bitwise left shift by b
print(a<<0) # binary 0 0 0 1 0  no shift
print(a<<1) # binary 0 0 1 0 0  shift by 1
print(a<<2) # binary 0 1 0 0 0  shift by 2
print(a<<3) # binary 1 0 0 0 0  shift by 3

print(a>>0)
print(a>>1)
print(a>>2)

### Conditional Statements
* if
* else
* elif
* Nested if

In [ ]:
a = "Aditya College" 
b = "Aditya Colleg"
if (a==b):
    print("Both are same")
else:
    print("Both are not same")
    
if (a!=b):
    print("Both are not same")
else:
    print("Both are same") # Indentation is must in python
c = 10 # if statement starts from column 1 it is considered as if statment is closed
print(c)

In [ ]:
a = 10 
b = 5
if (a>b):
    print("a is greater than b")
elif (a<b):
    print("b is greater than a")
else:
    print("both are same")

In [ ]:
# nested if
a = 2
if (a>0):
    if (a ==2):
        print("a is equal to 2")
    else:
        print("a is not equal to zero")
else:
    print("Given value is less than zero")

In [ ]:
# nested if
a = 5
if (a>0):
    if (a ==2):
        print("a is equal to 2")
    else:
        print("a is greater than zero")
else:
    print("Given value is less than zero")

In [ ]:
a = -5
if (a>0):
    if (a ==2):
        print("a is equal to 2")
    else:
        print("a is greater than zero")
else:
    print("Given value is less than zero")

## String Characters
Sting = "Hello"
* H - 0 or -5
* e - 1 or -4
* l - 2 or -3
* l - 3 or -3
* o - 4 or -2

In [ ]:
s = "Aditya College"
s[0:14] # 14 is number of characters in s including spaces

In [ ]:
s = "Aditya College"
s[0::]

In [ ]:
s = "Aditya College"
s[::-1]

In [ ]:
s = "Aditya College"
s[::-2]

In [ ]:
s = "Aditya College"
s[1::] #excludes first characters

In [ ]:
s = "Aditya College"
s[4::] #excluding first four characters

In [ ]:
print(s[::-1]) # printing the string in reverse order
print(s[-1::-1]) # printing the string in reverse order
print(s[len(s)//2])
print(len(s)//2)

In [ ]:
s[1:-1]

In [ ]:
dir(str) #methods and functions with strings

In [ ]:
s = "Aditya College"
s.islower()

In [ ]:
s.isascii()

In [ ]:
s1 = "RAJESH MURARI"
s2 = "rajesh murari"
s3 = "rajesh@murari"
print(s1.swapcase())
print(s2.swapcase())
print(s2.capitalize())
print(s2.split())
s4 = s3.split("@")
print(s4)
print("#".join(s4))

In [ ]:
s5 = "          Rajesh Murari                 "
s5.strip() # Removes all spaces

In [ ]:
s5.lstrip() # Removes left side spaces

In [ ]:
s5.rstrip() # Removes right side spaces

In [ ]:
s6 = "Rajesh Rajesh Rajesh Murari"
s6.count("Rajesh") # counts how many times word repeted

In [ ]:
s7 = "Rajesh"
s7.zfill(20)

In [ ]:
s5.replace(" ","") # to remove space between words

In [ ]:
s6.replace(" ","Daniel") # to replace space with a word

## Loops
* for loop
* while loop

### syntax of for loop 
for temp_var in collection_item: <br>
    body_loop

In [ ]:
name = 'python'
for each in name: # prints each character in word python
    print(each)

In [ ]:
for number in range(11): # prints from 0 to 10
    print(number)

In [ ]:
for number in range(1,11):  # prints 1 to 10
    print(number)

In [ ]:
for number in range(11,21): # prints 11 to 20
    print(number)

In [ ]:
for number in range(11,21,2): # in terms of increments
    print(number)

In [ ]:
for number in range(20,9,-1): # print from 20 to 10 in reverse order
    print(number)

In [ ]:
name = 'python'
for char in name:
    if char=='h':
        break
print(char)

In [ ]:
name = 'python'
for char in name:
    if char=='z':
        break
print(char)

In [ ]:
for number in range(10):
    print(number,end=' ')

#### write a program to sum of even numbers from 0 to 100 (both inclusive)

In [ ]:
c = 0
for number in range(0,101):
    if number%2==0:
         c += number
print(c)
## sum can not be used as variable. in python sum() is function

In [ ]:
for each in range(3):
    print(each)
else:
    print("loop end")

### While loop
while condition: <br>
bod_of_loop

In [ ]:
start = 10
while start<=21:
    print(start)
    start += 1

### take the sata from user until user give DONE, print only numbers

In [2]:
while True:
    x = input("Enter Number/'DONE if finished': ")
    if x=='DONE':
        break
    if x.isdigit():
        print(x)

Enter Number/'DONE if finished': 10
10
Enter Number/'DONE if finished': DONE

 ### Functions in Python
 1. pre-defined/ system defined
 2. User defined functions
 3. Anonymous function

### Functions
1. range()
2. print()
3. len()
4. sum()

#### Methods
1. x.isdigit()
2. x.isalpha()

### User defined functions
def fun_name(arg1,arg2): <br>
body_of_function

In [3]:
def message(msg):
    print(msg)

In [5]:
message('Welcome Rajesh') #calling function message to print Welcome Rajesh

Welcome Rajesh

In [6]:
a = message('welcome')

welcome

In [7]:
print(a)

None

In [8]:
def addition(a,b):
    return a+b

In [9]:
a = addition(10,20)
print(a)

30

In [10]:
def addition(a,b,c):
    return a+b+c

In [11]:
a = addition(10,20,30)
print(a)

60

### based on arguments
1. required argument function
2. keyword argument functions
3. default argument functions
4. variable length argument functions

### required argument functions
#### in this type we must pass required arguments in the function structure

In [13]:
addition(10,20,20)

50

### Keyword argument function

In [16]:
addition(a=10,b=30,c=50)

90

### Default argument function

In [17]:
range(10)

range(0, 10)

In [18]:
def addition(a,b=0):
    print('a',a)
    print('b',b)
    return a+b

In [19]:
addition(10)

a 10
b 0

10

In [20]:
addition(10,20)

a 10
b 20

30

### variable length argument function

In [21]:
def addition(a,b,*var):
    print('a',a)
    print('b',b)
    print(var)

In [22]:
addition(10)

TypeError: addition() missing 1 required positional argument: 'b'

In [23]:
addition(10,20)

a 10
b 20
()

In [24]:
addition(10,20,30,40)

a 10
b 20
(30, 40)

In [27]:
def addition(*var):
    print(var)

In [28]:
addition(10,20,30,40,50)

(10, 20, 30, 40, 50)

### Create a function isPrime and check given number is prime or not

In [38]:
def isPrime(a):
    if a==1:
        print('is prime')
    else:
        for each in range(2,a):
            if a%each == 0:
                print('Is prime')
                break
            else:
                print('Not a prime')

In [39]:
value = input("Enter a Number")
isPrime(value)

Enter a Number5

TypeError: 'str' object cannot be interpreted as an integer