## Data Structures
1. Lists
2. Tuples
3. Sets
4. Dictionaries

### Lists
* Lists are murtable (or Changeables)
* Syntax: list_var = []

In [6]:
# different ways to create lists
l1 = [] # empty list
l2 = list()
print(type(l1))
print(type(l2))
l3 = [1,20,100,1000] #homogenous list
l4 = ['abc',100,'A',4,5] # hetrogenous list
type(l4)

<class 'list'>
<class 'list'>

list

In [7]:
l3[2]  # prints element in the list (elements count is from 0, therefore 2 means 3rd element)

100

In [8]:
l4[1]  # prints element in the list

100

In [9]:
l4[2]  # prints  element in the list

'A'

In [11]:
l3[0]  # prints element in the list

1

In [16]:
l5 = [10,20,[1,2,3],[4,5,6]]
print(l5[2])
print(l5[3][2]) # prints element-3 of sub-list 4

[1, 2, 3]
6

In [17]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [28]:
list1 = [1,2,3,4]
list1.append(5)
list1

[1, 2, 3, 4, 5]

In [29]:
list1 = [1,2,3,4]
list1.append(5,6)
list1  # gives error if 2 elements are appended

TypeError: append() takes exactly one argument (2 given)

In [30]:
list1 = [1,2,3,4]
list1.append(5)
list1.extend([6,7,8])  # to append more than two elements
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
# difference between append and extend method
list1 = [1,2,3,4]
list1.append([5,6,7])
print(list1)
list1.extend([6,7,8])  # to append more than two elements
list1

[1, 2, 3, 4, [5, 6, 7]]

[1, 2, 3, 4, [5, 6, 7], 6, 7, 8]

In [33]:
# difference between append and extend method
list1 = [1,2,3,4]
list1.append([5,6,7])
print(list1)
list1.extend([6,7,8])  # to append more than two elements
print(list1)
list1[4].append(9) # inserting an element 9 in the subset [5,6,7]
print(list1)

[1, 2, 3, 4, [5, 6, 7]]
[1, 2, 3, 4, [5, 6, 7], 6, 7, 8]
[1, 2, 3, 4, [5, 6, 7, 9], 6, 7, 8]

### insert()
* syntax: list.insert(index,value)

In [52]:
# difference between append and extend method
list1 = [1,2,3,4]
list1.append([5,6,7])
print(list1)
list1.extend([6,7,8])  # to append more than two elements
print(list1)
list1[4].append(9) # inserting an element 9 in the subset [5,6,7]
print(list1)
list1[4].insert(3,8) # insert an element 8 at index 3 in subset- (subset is at index-4 of list1) 
print(list1)
list1.insert(3,10) # insert an element 10 at index 3 
print(list1)

[1, 2, 3, 4, [5, 6, 7]]
[1, 2, 3, 4, [5, 6, 7], 6, 7, 8]
[1, 2, 3, 4, [5, 6, 7, 9], 6, 7, 8]
[1, 2, 3, 4, [5, 6, 7, 8, 9], 6, 7, 8]
[1, 2, 3, 10, 4, [5, 6, 7, 8, 9], 6, 7, 8]

## clear() ----> to remove all the items in the list

In [36]:
a = [1,2,3]
a.clear()
a

[]

### pop(index) ----> syntax
1. if index is not given it removes last item
2. if index value is given it removes only element with that index
3. if index exceeds it gives error

In [45]:
### pop(index) ----> syntax
### if index is not given it removes last item

a1 = [1,2,3,4]
b = a1.pop() # removes an element from the end --- here it removed 4
print(b)
print(a1)

4
[1, 2, 3]

In [47]:
a1 = [1,2,3,4]
b = a1.pop(0) # removes an element with index value --- here it removed 1
print(b)
print(a1)

1
[2, 3, 4]

In [48]:
a1 = [1,2,3,4]
b = a1.pop(5) # removes an element with index value exeeds
print(b)
print(a1)

IndexError: pop index out of range

In [50]:
### remove() --------> removes a particular element by value but not index
a1.remove(1)
print(a1)

[2, 3, 4]

In [58]:
list3 = [11,12,13,14]
for i in list3:  # prints elements in the list
    print(i)
    
for i in range(len(list3)):   # prints index of the elements in list
    print(i)

11
12
13
14
0
1
2
3

In [63]:
# program to add one list into another new list
# i/p: list1 = [1,2,3,4], newlist1 = []
# o/p: newlist1 = [1,2,3,4]
list1 = [1,2,3,4]
newlist1 = []
for i in list1:
    newlist1.append(i)
    print(newlist1) ## if print statement in the for loop

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [64]:
list1 = [1,2,3,4,[10,11]]
newlist1 = []
for i in list1:
    newlist1.append(i)
    print(newlist1) ## if print statement in the for loop, but last subset will be taken as single elementd

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [10, 11]]

In [74]:
list1 = ['abc',22,'xyz',44,88]
newlist1 = []
newlist2 = []

# o/p : ['abc','xyz']
print("print function in for loop")
for i in list1:
    if type(i)== str:
        newlist1.append(i)
    print(newlist1)
print("print function in if statement")
for i in list1:
    if type(i)== str:
        newlist2.append(i)
        print(newlist2)
print("print function at end")
print(newlist2)

print function in for loop
['abc']
['abc']
['abc', 'xyz']
['abc', 'xyz']
['abc', 'xyz']
print function in if statement
['abc']
['abc', 'xyz']
print function at end
['abc', 'xyz']

In [76]:
list1 = ['abc',122,'xyz',144,188]
intlist1 = []
strlist1 = []

# o/p : ['abc','xyz']
print("print function in for loop")
for i in list1:
    if type(i)== int:
        intlist1.append(i)
    else:
        strlist1.append(i)
print(intlist1)
print(strlist1)

print function in for loop
[122, 144, 188]
['abc', 'xyz']

### Sort

In [85]:
studentMarks = [20,50,30,10,40]
studentMarks.sort() # sorts in ascending order
print(studentMarks)
studentMarks.reverse()
print(studentMarks)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [86]:
a = [10,30,20]
a.reverse()
a

[20, 30, 10]

In [91]:
studentMarks = [20,50,30,10,40]
studentMarks.sort(reverse=True) # sorts in descending order
print(studentMarks)
studentMarks.reverse()
print(studentMarks)

[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [106]:
## Marks = [[math,eng],[math,end],[math,eng]]

Marks = [[50,40],[10,30],[30,50]]
engMarks = []
mathMarks = []
for i in Marks:
    x == i([i][1])
    engMarks.append(x) 


print(engMarks)

NameError: name 'x' is not defined

In [103]:
## Marks = [[math,eng],[math,end],[math,eng]] sort based on english marks
Marks = [[50,40],[10,30],[30,50]]
for Sort1 in Marks:
    Marks.reverse()
    Marks.sort()
print(Marks)
for Sort1 in Marks:
    Marks.reverse()
print(Marks)

[[10, 30], [30, 50], [50, 40]]
[[50, 40], [30, 50], [10, 30]]

In [104]:
# using Lambda 
Marks = [[50,40],[10,30],[30,50]]
Marks.sort(key=lambda x:x[1])
print(Marks)

[[10, 30], [50, 40], [30, 50]]

# Tuples
- are immutable (not changeble)

In [107]:
# different ways to create tuples
# Lists uses square brackets while tuple uses round brackets ()
t1 = (100)
type(t1)

int

In [108]:
# different ways to create tuples
# Lists uses square brackets while tuple uses round brackets ()
t1 = ('100')
type(t1)

str

In [113]:
# different ways to create tuples
t1 = ()    # Empty Tuple
print(type(t1))
t1 = (100,) # for touple comma should be used at the end t1 = (100,)
print(type(t1))

<class 'tuple'>
<class 'tuple'>

In [115]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [119]:
l1 = [11,12,13]
t1 = (10,20,30)
l1[0] = 111
print(l1)
t1[0] = 100   ## Immutable

[111, 12, 13]

TypeError: 'tuple' object does not support item assignment

## Tuples are immutable, can not be altered
#### Tuple has two methods
1. count
2. index

In [116]:
t2 = (10,10,100,10,1000)
print(t2.count(10))
print(t2.count(100))

3
1

In [118]:
print(t2.index(10))
print(t2.index(100))

0
2

## Dictionaries
* represented as "{ , }"
* these are mutable
* pairs of keys and values seperated with " : "
* syntax -------> dict1 = {'keys':'values','key2':'value2', 'key3':'value3'....}
* "keys" act as index of "values"
* "keys" in dictionary must be unique

In [120]:
l1 = [11,22,33]
l1[0]

11

In [121]:
dict1 = {'keys':'values','key2':'value2', 'key3':'value3'}
dict1['key2']

'value2'

In [123]:
# nested dictionary
dict2 = {}   #empty dictionary
dict2 = {'Raj':['eee','b.tech'],'Murari':['hve','m.tech']}
d = dict2['Raj']
print(d)
type(d)

['eee', 'b.tech']

list

In [134]:
dict3 = {'Raj':{'add':"abc",'pin':123},'Murari':{'add':"xyz",'pin':567}}
d=dict3['Raj']['pin']
d1=dict3['Murari']['add']
print(d)
print(d1)

123
xyz

In [135]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [139]:
d1 = {1:11,2:22,3:33,4:44,5:55}
d1.keys()
#d1.values()
#d1.items()

dict_keys([1, 2, 3, 4, 5])

In [140]:
d1 = {1:11,2:22,3:33,4:44,5:55}
d1.values()

dict_values([11, 22, 33, 44, 55])

In [141]:
d1 = {1:11,2:22,3:33,4:44,5:55}
d1.items()

dict_items([(1, 11), (2, 22), (3, 33), (4, 44), (5, 55)])

In [143]:
for k in d1.keys(): # to print keys of the dictionary
    print(k)
for v in d1.values():   # to print values of the dictionary
    print(v)

1
2
3
4
5
11
22
33
44
55

In [157]:
d1 = {1:11,2:22,3:33,4:44,5:55} 
d1['xyz'] = 'abc'    # to add key and value
print(d1)

{1: 11, 2: 22, 3: 33, 4: 44, 5: 55, 'xyz': 'abc'}

In [148]:
#d1 = {1:11,2:22,3:33,4:44,5:55} 
d1[5] = 'abc'    # to add key and value
print(d1)

{1: 11, 2: 22, 3: 33, 4: 44, 5: 'abc', 6: 'abc'}

In [152]:
d1.clear()
print(d1)

{}

In [155]:
d1 = {1:11,2:22,3:33,4:44,5:55} 
d1.pop(1)   # to remove a particular key and value
print(d1)

{2: 22, 3: 33, 4: 44, 5: 55}

In [159]:
# update existing or add a new key and value
d1 = {1:11,2:22,3:33,4:44,5:55} 
newlist = {'xyz':'abc', 1:100}
d1.update(newlist)
print(d1)

{1: 100, 2: 22, 3: 33, 4: 44, 5: 55, 'xyz': 'abc'}

### create new dict for frequency of a to z characters from the given name

In [160]:
name = 'python'
freq ={}
# o/p = {'a':0, 'b'=0.........,'p':1,.....}

In [177]:
name = 'rajeshmurari'
freq ={}
mylist = []
for i in range(97,97+26): # 97 represents chr-'a' and 97+26 -- chr-z
    mylist.append(chr(i))  # chr(i) converts numeric into char a to z
freq ={}.fromkeys(mylist,0) # assign 0 frequency to all keys(a-z)
for char in name:
    freq[char] = freq.get(char,0)+1  # gets the frequency
print(freq)

{'a': 2, 'b': 0, 'c': 0, 'd': 0, 'e': 1, 'f': 0, 'g': 0, 'h': 1, 'i': 1, 'j': 1, 'k': 0, 'l': 0, 'm': 1, 'n': 0, 'o': 0, 'p': 0, 'q': 0, 'r': 3, 's': 1, 't': 0, 'u': 1, 'v': 0, 'w': 0, 'x': 0, 'y': 0, 'z': 0}

## Sets

In [174]:
s1 = {1,2,3}
s2 = {4,5,6}

# unions

In [171]:
s1 = {1,2,3}
s2 = {4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [182]:
s1 = {1,2,3}
s2 = {1,2,6}
print(s1.union(s2)) #returns union of two sets
print(s1)           # does not update s1

{1, 2, 3, 6}
{1, 2, 3}

# intersection
* returns common items from the sets

In [175]:
s1 = {1,2,3}
s2 = {1,2,6}
s1.intersection(s2)

{1, 2}

## add(item)

In [179]:
s1.add(4)
print(s1)

{1, 2, 3, 4}

# remove(item)

In [180]:
s1.remove(4)
print(s1)

{1, 2, 3}

## update()
* update the set

In [183]:
s1 = {1,2,3}
s2 = {1,2,6}
print(s1.update(s2))  # returns none
print(s1)            # updates s1

None
{1, 2, 3, 6}

## difference

In [192]:
s1 = {1,3,4}
s2 = {1,2,6}
print(s1.difference(s2))  # returns which is different (not same)
print(s1)            # updates s1

{3, 4}
{1, 3, 4}